#background{
    background-color: white;
    height: 100%;
    box-shadow: 5px 10px;
    border-radius: 1cm;
    margin: 1cm;
    padding: 0.5cm;
    align-items: center;
    align-content: center;
}

#bingo_div{
    color: aqua;
    height: 100%
    
}

#button_div{
    width: 400px;
    height: 400px;
    background-color: black;
    align-items: center;
    text-align: center;
    align-self: center;
    float: left;
}