<div id="layout_menu_div">
    <div id="header_div">
        <div id="title_div">
            <p id="title">Nivele</p>
        </div>
        <div id="exit_button_div">
            <div class="interact_with_video_button">
                <img src="../../assets/exit.png" alt="" class="interact_with_video_button_img" (click)="exit()">
            </div>
        </div>
    </div>
    <div id="first_row_of_levels">
        <div class="button_div"><app-square-select-button image_source="../../assets/anotimpuri/primavara1.jpg" (click)="enter_in_lvl('primavara1')"></app-square-select-button></div>
        <div class="button_div"><app-square-select-button image_source="../../assets/anotimpuri/vara1.jpg" (click)="enter_in_lvl('vara1')"></app-square-select-button></div>
        <div class="button_div"><app-square-select-button image_source="../../assets/anotimpuri/toamna1.jpg" (click)="enter_in_lvl('toamna1')"></app-square-select-button></div>
        <div class="button_div"><app-square-select-button image_source="../../assets/anotimpuri/iarna1.jpg" (click)="enter_in_lvl('iarna1')"></app-square-select-button></div>
    </div>
    <div id="second_row_of_levels">
        <div class="button_div"><app-square-select-button image_source="../../assets/anotimpuri/primavara2.jpg" (click)="enter_in_lvl('primavara2')"></app-square-select-button></div>
        <div class="button_div"><app-square-select-button image_source="../../assets/anotimpuri/vara2.jpg" (click)="enter_in_lvl('vara2')"></app-square-select-button></div>
        <div class="button_div"><app-square-select-button image_source="../../assets/anotimpuri/toamna2.jpg" (click)="enter_in_lvl('toamna2')"></app-square-select-button></div>
        <div class="button_div"><app-square-select-button image_source="../../assets/anotimpuri/iarna2.jpg" (click)="enter_in_lvl('iarna2')"></app-square-select-button></div>
    </div>
</div>

