<div id="level_div">
    <div id="animation_sevtion_div">
        <div id="animation_div">
            <img src="../../assets/fetita.png" alt="" id="sampleimg">
        </div>
        <div id="raspunsuri_titlu_div">
            <p id="raspunsuri_titlu">Răspunsuri:</p>
        </div>
        <div id="right_responses_div">
            <div id="right_response_1">
                <img src="../../assets/apple.jpg" alt="" class="right_response_img">
            </div>
            <div id="right_response_2">
                <img src="../../assets/apple.jpg" alt="" class="right_response_img">
            </div>
            <div id="right_response_3">
                <img src="../../assets/apple.jpg" alt="" class="right_response_img">
            </div>
        </div>
    </div>
    <div id="select_buttons_div">
        <div id="deasupra_rafturilor_div">
            
        </div>
        <div id="raft1_div">
            <div id="div_button1">
                <app-select-button image_source="../../assets/apple.jpg" audio_source="../../assets/mar.wav" lass="button1"></app-select-button>
            </div>
            <div id="div_button2">
                <app-select-button image_source="../../assets/apple.jpg" class="button1"></app-select-button>
            </div>
            <div id="div_button3">
                <app-select-button image_source="../../assets/apple.jpg" class="button1"></app-select-button>
            </div>
        </div>
        <div id="raft2_div">
            <div id="div_button4">
                <app-select-button image_source="../../assets/apple.jpg" class="button1"></app-select-button>
            </div>
            <div id="div_button5">
                <app-select-button image_source="../../assets/apple.jpg" class="button1"></app-select-button>
            </div>
            <div id="div_button6">
                <app-select-button image_source="../../assets/apple.jpg" class="button1"></app-select-button>
            </div>
        </div>
        <div id="raft3_div">
            <div id="div_button7">
                <app-select-button image_source="../../assets/apple.jpg" class="button1"></app-select-button>
            </div>
            <div id="div_button8">
                <app-select-button image_source="../../assets/apple.jpg" class="button1"></app-select-button>
            </div>
            <div id="div_button9">
                <app-select-button image_source="../../assets/apple.jpg" class="button1"></app-select-button>
            </div>
        </div>
        <div id="dedesupt_raft_div">
            <div class="interact_with_video_button">
                <img src="../../assets/exit.png" alt="" class="interact_with_video_button_img">
            </div>
            <div class="interact_with_video_button">
                <img src="../../assets/reload.png" alt="" class="interact_with_video_button_img">
            </div>
        </div>
        <div>
            <p>.</p>
        </div>
        <div id="refturi_img_div">
            <img src="../../assets/rafturi.jpg" alt="Rafturi" id="rafturi">
        </div>
    </div>
</div>