<div id="level_div">
    <div id="animation_sevtion_div">
        <div id="animation_div">

        </div>
        <div id="video_interact_div">

        </div>
        <div id="right_responses_div">
            <div id="right_response_1">

            </div>
            <div id="right_response_2">

            </div>
            <div id="right_response_3">
                
            </div>
        </div>
    </div>
    <div id="select_buttons_div">
        <img src="../../assets/rafturi.jpg" alt="" id="rafturi">
    </div>
</div>